@config "../tailwind.config.ts";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-league-spartan), sans-serif;
}
