@config "../tailwind.config.ts";
@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
